NAPCAT_HTTP_URL=http://localhost:3000
NAPCAT_WS_URL=ws://localhost:3001
NAPCAT_HTTP_TOKEN=
NAPCAT_WS_TOKEN=

SERVER_PORT=8080
SERVER_ENABLED=false

DEBUG=false

ADMIN_IDS=

COMMAND_PREFIX=/

AI_ENABLED=false
AI_URL=https://api.siliconflow.cn/v1/chat/completions
AI_KEY=YOUR_API_KEY_HERE
AI_MODEL=deepseek-ai/DeepSeek-V3.1
SYSTEM_PROMPT_PATH=configs/system_prompt.md

# ref: https://github.com/imsyy/DailyHotApi
HOT_API_HOST=https://hot-api.crayoncreator.top
# if you want my key, please contact me on qq: 1104507145
HOT_API_KEY=YOUR_API_KEY_HERE

TECH_PUSH_GROUPS=123456789,987654321
TECH_PUSH_USERS=111111111,222222222